
/* Your CSS Code here. */
#button-2{
	background-color: white;
	color: gray;
}
#button-3{
	width: 20%;
	height: 50px;
}
#button-4{
	width:90px;
	height:34px;
}
#button-5{
	width:100%;
}






































